{% extends 'base.html' %}

{% block titile %}
    Change password
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item acive">
        Change password
    </li>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                   <form novalidate method='POST'>
                       {% csrf_token %}
                       {% include 'includes/form.html' %}
                       <button class="btn btn-success btn-block" type="submit">Change Password</button>
                   </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}